@using EventBooking.ViewModels
@{
    Layout = null;
}

@model LoginViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EventBooking.styles.css" asp-append-version="true" />
</head>
<style>
    html,
    body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    body {
        background: url("/images/event-bg.jpg") center/cover no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        z-index: -1;
    }
</style>

<body>
    <div class="bg-light  p-5 rounded w-25">
        <div asp-validation-summary="All" class="text-danger"></div>
        <h1>Log in</h1>
        <form asp-action="Login" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
                @* <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> *@
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1">
            </div>

            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>

        <div class="d-flex align-items-center ">
            <hr class="flex-grow-1">
            <span class="mx-3 text-muted">OR</span>
            <hr class="flex-grow-1">
        </div>
        <a href="@Url.Action("Signup", "Auth")">Don't have an account? Sign up</a>


    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>